# Day 01 - Variables and Strings
###### Topics to be covered today :
###### Creating Variables
###### Data Types - String , integer
###### Use of Type()
###### Changing Data Types 
###### String as Arrray
###### Indexing
###### String Length 
######  Slicing
###### Strip
###### Split 
###### Concat 
###### Replace
###### Format

###### Creating Variables and checking data type

In [11]:
a = 5
b = 5.6
c = "Data Science"

In [12]:
type(a)

int

In [13]:
type(b)

float

In [14]:
type(c)

str

###### Changing string to numeric data type

In [15]:
d = "12"
type(d)

str

In [16]:
print(type(int(d)))

<class 'int'>

###### Strings are treated like array

In [17]:
print(c[5: ])

Science

In [18]:
print(c[-3: ])

nce

###### Length of a string

In [19]:
print(len(c))

12

######  Slicing

In [29]:
b = "Hello, World!"
print(b[2:5])

llo

###### Strip - to remove extra spaces in the beginning and end

In [21]:
text = "   Hello World     "
print("Before stripping:", text)
text1 = text.strip()
print("After stripping:", text1)

Before stripping:    Hello World
After stripping: Hello World

###### Splitting- splits the string using a separator

In [22]:
date = "2020-09-01"
print(date.split("-"))

['2020', '09', '01']

###### Concatinating

In [23]:
first = "Hello"
second = "world"
third = first+ " "+second
print(third)

Hello world

######  Replacing
###### The replace() method replaces a specified phrase with another specified phrase.
###### Syntax: string.replace(oldvalue, newvalue, count)

In [28]:
txt1 = " data data data data"
new_txt = txt1.replace("data", "information", 2)
print(new_txt)

 information information data data

###### Format

In [31]:
age = 22
txt = "I am John, and I am {}"
print(txt.format(age))

I am John, and I am 22